.ButtonPrimary {
  background: var(--mb-color-button-primary);
  border-color: var(--mb-color-button-primary);
}

.ButtonPrimary:hover {
  border-color: var(--mb-color-button-primary-hover);
  background-color: var(--mb-color-button-primary-hover);
}

.ButtonPrimary:focus-visible {
  outline-color: var(--mb-color-button-primary);
}
