.Container {
  max-width: 100%;

  &.headVariant {
    .HeaderBadge {
      font-size: 1.25rem;
    }
  }
}

.HeaderBreadcrumbs {
  color: var(--mb-color-sp-gray-medium);
  font-size: 14px;
  font-weight: 600;
  line-height: 16.8px;
  letter-spacing: -0.5px;
  padding-left: 0.5em;
  padding-right: 0.5em;
  user-select: none;
}

.HeaderBadge {
  font-size: 14px;
  font-weight: 600;
  line-height: 16.8px;
  letter-spacing: -0.5px;
  color: var(--mb-color-sp-gray-medium);

  /* specificity */
  .HeaderBadgeIcon {
    width: 1em;
    height: 1em;
    margin-right: 0.5em;
  }
}
